<html>
  <head>
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="underscore-min.js" type="text/javascript"></script>
    <script src="backbone-min.js" type="text/javascript"></script>
  </head>
  <body>
    Backbone lesson. <a href="#">Main page</a>, <a href="#!/about">About</a>.
    <div id="pages-output"></div>


    <script type="text/template" id="main-page"> 
      <div>
        main template, <%= text %>, <%= number %>, <span class="close">&times;</span>
      </div>
    </script>

    <script type="text/template" id="about-page"> 
      <div>
        about template
      </div>
    </script>

    <script type="text/template" id="list-element"> 
      <h1>Backbone on github:</h1>
      <% _.each(items, function(item) { %>   
        <div>
          Commit: <a href="<%= item.url %>"><%= item.sha %></a>
        </div>
      <% }); %> 
    </script>

    <script src="lesson-bb.js" type="text/javascript"></script>
  </body>
</html>